.intro-container {
    max-width: 996px;
    display: flex;
   justify-content: space-around;
    height: 100vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.main-intro {
  width: 50%;
}
.profile-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid blanchedalmond;
}
.social_icon {
    color: var(--title-color);
}
a:hover {
    text-decoration: underline;
}
ul,i {
    padding-top: 10px;
    padding-right: 10px;
}
.button {
    padding: .70rem 1rem;
}